<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Cadastro Produto
-->
<!-- ============= HEADER ================ -->
<!DOCTYPE html>
<html>

<head>
    <title>Cadastrar-se Primeira Sessão</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../imagens/primeirasessão.png" />
</head>

<body class="text-primary">
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
<header>
    <div class="row">
      <div class="col-sm-4">
        <a href="indexAdm"><img class="w-50" src="../imagens/ps.png" /></a>
      </div>
      <br />
      <div class="text-center col-sm-4 p-5 mb-2">
        <h2>Área do Administrador: Cadastre um Novo Produto</h2>
      </div>
      <div class="col-sm-3">

        <span id="bemVindo"><%='Bem vindo, Adm ' + info.user.substring(0, info.user.indexOf('@')) + '!'%></span>
        
        <%if (info.user) { %>
        
        <a class="ml-5" style="cursor:pointer;text-decoration:underline" href="logoutAdm" id="sair">Sair</a>
        <% } else { %>
          <a id="entrar" href="loginAdm">Entrar</a>
          <% } %>
      </div>
  </header>
    <section>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <a class="navbar-brand" href="#">Acesse</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href='loginAdm'>Página principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=''>Cadastro de produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='cadastroAdm'>Cadastro de Usuario</a>
                    </li>

                </ul>
            </div>
        </nav>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
        <form method="post" id="formCadastro" action="indexAdm" class="w-50 mx-auto p-3 mt-5 mb-5"
            style="border: 1px solid #ccc; border-radius: 12px;">
            <fieldset>
                <div>
                    <legend class="text-center">
                        Informe os dados do produto
                    </legend>
                </div>
                <br />
                <div class="form-group">
                    <lable>Nome : </lable>
                    <input class="form-control" name="nomeCad" id="nomeCad" maxlength="50" required>
                </div>
                <div class="form-group">
                    <label>Categoria : </label>
                    <input class="form-control" name="categoria" id="categoria" required>
                </div>
                <div class="form-group">
                    <label>Ano : </label>
                    <input class="form-control" name="ano" id="ano" maxlength="4" type="number">
                </div>
                <div class="form-group">
                    <label>Sinopse :</br></label>
                    <textarea class="form-control" name="sinopse" id="sinopse" rows="8"></textarea>
                </div>
                <div>
                    <input id="img-input" type="file" name="imagem">
                </div>
                <div id="container">
                    <img id="preview" src="" width="200">
                </div>

                <div>
                    <div class="text-center">
                        <button id="btCad" type="button" class="btn btn-primary">Confirmar</button>
                    </div>

                </div>
            </fieldset>
        </form>
    </section>
<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
   <footer class="bg-primary p-4 text-white text-center mt-4">
        <p> &copy;2022 - Todos os direitos reservados. </p>
    </footer>
<!-- =============== Fim FOOTER ================== -->
</body>
<script src="../jsAdm/cadastroProduto.js"></script>

</html>
