<%- include("header.ejs") %>
    <%- include("nav.ejs") %>

        <header>
            <div class="row">
            <div class="col-sm-4">
                <a href="indexAdm"><img class="w-50" src="../imagens/ps.png" /></a>
            </div>
            <br />
            <div class="text-center col-sm-4 p-5 mb-2">
                <h2>Área do Administrador</h2>
            </div>
            <div class="col-sm-3">
                <span id="bemVindo">Adm: <%=info.user%></span>
                <%if (info.user) { %>
                
                <a class="ml-5" style="cursor:pointer;text-decoration:underline" href="logoutAdm" id="sair">Sair</a>
                <% } else { %>
                <a id="entrar" href="loginAdm">Entrar</a>
                <% } %>
            </div>
            
        </header>

        <form action="" method="POST">
            <div class="form-group">
                <label for="cad_nome">Nome</label>
                <input type="text" class="form-control col-lg-9" id="cad_titulo" placeholder="Insira o titulo aqui"
                    name="cad_titulo">
            </div>
            <div class="form-group">
                <label for="cad_sobrenome">Genero</label>
                <input type="text" class="form-control col-lg-9" id="cad_genero" placeholder="Insira o genero aqui"
                    name="cad_genero">
            </div>
            <div class="form-group">
                <label for="cad_email">Ano</label>
                <input type="text" class="form-control col-lg-9" id="cad_ano" name="cad_ano"
                    placeholder="Insira o ano aqui">
            </div>
            <div class="form-group">
                <label for="cad_sinopse">Sinopse</label>
                <textarea name="cad_sinopse" class="form-control col-lg-9"></textarea>
            </div>
            <div class="form-group">
                <label for="cad_email">Classificação</label>
                <input type="text" class="form-control col-lg-9" id="cad_class" name="cad_class"
                    placeholder="Insira Classificação aqui">
            </div>
            <div class="form-group">
                <label for="cad_email">Imagem</label>
                <input type="text" class="form-control col-lg-9" id="cad_img" name="cad_img"
                    placeholder="Insira a Imagem aqui">
            </div>
            <div class="form-group">
                <label for="cad_email">Trailer</label>
                <input type="text" class="form-control col-lg-9" id="cad_trailer" name="cad_trailer"
                    placeholder="Insira o trailer aqui">
            </div>
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>

        <%- include("footer.ejs") %>
