<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Cadastro
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>
  <!-- ========= FIM HEADER ============= -->
<%- include('topo.ejs')%>
  <!-- ======= MENU DO PROJETO ======== -->
      <style>
        .img {
          
          border-radius: 4px;
          padding: 5px;
          width: 200px;
          height: 495px;
         
        } 
        .body {
          font-weight: bold;
        }
        .p {
          font-size: 50px;
        }
        .alignR{
          text-align: right;
          cursor:pointer;text-decoration:underline
        }
      </style>
                
            <%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
    <form  method="POST" id="formCadastro" action="" class="w-50 mx-auto p-3 mt-5 mb-5" style="border: 1px solid #ccc; border-radius: 12px;">
                <fieldset>
                    <div>
                    <legend class="text-center">
                        Informe seus dados para prosseguir
                    </legend>
                    </div>
                    <br />
                    <div class="form-group">
                        <lable>Nome : </lable>                        
                        <input class="form-control" name="nomeContato" id="nomeContato" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label>E-mail : </label>
                        <input class="form-control" name="emailContato" id="emailContato" type="email" required>
                    </div>
                    <div class="form-group">
                        <label>Telefone : </label>                        
                        <input class="form-control" name="telefoneContato" id="telefoneContato"  maxlength="13" type="number" >
                    </div>
                    <div class="form-group">                       
                        <label>Senha : </label>                
                       <input class="form-control" name="senha" id="senha" type="password" maxlength="15">
                    </div>
                    <div class="form-group">             
                        
                        <label>Confirmar senha: </label>
                       <input class="form-control" name="conf_senha" id="conf_senha" type="password" maxlength="12">
                    </div>
                    <div>                        
                        <div class="text-center">
                        <button id="btContato" type="submit"  class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>
<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>
<!-- =============== Fim FOOTER ================== -->

        
        <script src="../js/cadastro.js"></script>

    </body>
    </html> 