<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Login
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
      <style>
        .img {
          
          border-radius: 4px;
          padding: 5px;
          width: 200px;
          height: 495px;
         
        } 
        .body {
          font-weight: bold;
        }
        .p {
          font-size: 50px;
        }
        .alignR{
          text-align: right;
          cursor:pointer;text-decoration:underline
        }
      </style>
       <%- include('topo.ejs')%>
        <br />
            
        <%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
            <section class="container">
              <form id="formLogin" method="post" action="" class="w-50 mx-auto p-3 mt-5 mb-5" 
                style="border:1px solid #ccc;border-radius: 12px;">
                    <fieldset>
                        <legend class="text-center body">Faça seu login</legend>
                        <br />
                        <div class="form-group">
                            <label>Email :</label>
                            <input class= form-control name="email" id="email" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <label>Senha :</label>
                            <input type="password" class= form-control name="senha" id="senha" maxlength="50" required>
                        </div>
                        <div class ="text-center">
                            <button type="submit" id="btLogin" class="btn btn-primary">Entrar</button>
                        </div>
                </fieldset>
              </form>
            <div class= "text-center">
              
            </div>
        </section>
<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>
<!-- =============== Fim FOOTER ================== -->
      </body>
        <script src="../js/login.js"></script>
</html>