<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Perfil do Usuario
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
      <style>
        .img {
          
          border-radius: 4px;
          padding: 5px;
          width: 200px;
          height: 495px;
         
        } 
        .body {
          font-weight: bold;
        }
        .p {
          font-size: 50px;
        }
        .pMenor {
          font-size: 20px;
        }
        .alignR{
          text-align: right;
          cursor:pointer;text-decoration:underline
        }
      </style>
<%- include('topo.ejs')%>  
 <%- include('nav.ejs')%>        
        <div class="alert alert-primary text-center">
          <strong><div class="spinner-grow text-primary"></div>FELIZ ANIVERSÁRIO  <div class="spinner-grow text-primary"></div><div id="nomeA"></div></strong> <br /> <a href="carrinho"> NÃO PERCA TEMPO E COMEMORE JÁ</a> <hr />
          <button type="button" class="btn btn-primary" onclick="displayCode()">copie e cola sua supresa</button>

          <p id="demo"></p>
        </div>
          
       
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
        <section>
        
        <hr/>
        
      
        <article class="container text-primary text-center"><div id="conteudo">
            <h3 class="p body"></h3>
            <br />

            <p class="body pMenor" id="nomeUsu"></p>
            <br />
            <p class="body pMenor" id="emailUsu"></p>
            <br />
            <p class="body pMenor" id="telUsu"></p>
            <br />
            <p class="body pMenor" id="idadeUsu"></p>
            <br />
            <p class="body pMenor" id="preferenciaUsu"></p>
            <br />
            <p class="body pMenor" id="dataUso"></p>
            <br />
            <p class="body pMenor" id="tipoUsu"></p>
            <br />
            <p class="body pMenor" id="valorUsu"></p>
            <br />
            </div>
        </article>
        </section>
<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>
<!-- =============== Fim FOOTER ================== -->
    </body>
    <script src="../js/perfilDoUsuario.js"></script>
</html>