<!--
Projeto Videos Online
Parte do curso Javascript Programmer
Time 02- Single Preferencia
-->
<!-- ============= HEADER ================ -->
<%- include('header.ejs')%>
<!-- ========= FIM HEADER ============= -->
<!-- ======= MENU DO PROJETO ======== -->
<%- include('topo.ejs')%>
<%- include('nav.ejs')%>
<!-- =============== FIM DO MENU =============== -->
<!-- =============== Conteúdo ================== -->
    <section>
    <div class="container" class="text-center" id="sigleProduto">
      <div class="row" class="text-center">
        <div class="col-sm-12" class="content">

          <h2 id="tituloPrefer" class="text-left">Pantera Negra</h2>
          <p class="text-left">Pantera Negra; 2018; Direção:Ryan Coogler. </p>

        </div>
        </div>
      </hr>

        <div class="row">
          <div class="col-sm-6">
            <img id="imagemPrefer" src="../imagens/panter.jpg" width="500" />
          </div>

          <div id="trailerPrefer" class="col-sm-6">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/wL4a4MafSjQ"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

    <div class="row">
      <hr />
    </div>

    <!--Sinopse Preferido-->
    <div class="container" class="col-sm-8">
      <h2>Sinopse</h2>
      <p id="sinopsePrefer">
        Aqui vai a sinopse alimentada pela posição do array salva em LOCALSTORAGE
      </p>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 id="titulo">Deadpool 2</h2>
        <a href="singleproduto">
        <img src="../imagens/deadpool.jpg" class="w-100" id="filme"/></a>
      </div>
      <div class="col-sm-4">
        <h2 id="titulo1">Homem de Ferro</h2>
        <a href="singleproduto">
        <img src="../imagens/homem.jpg" class="w-100" id="filme1"/></a>
      </div>
      <div class="col-sm-4">
       <h2 id="titulo2">Homem-Formiga e a Vespa</h2>
        <a href="singleproduto">
        <img src="../imagens/homemf.jpg" class="w-100" id="filme2"/></a>
      </div>
      <div class="col-sm-4">
        <h2 id="titulo3">Capitão América: O Primeiro Vingador</h2>
        <a href="singleproduto">
        <img src="../imagens/capitao.jpeg" class="w-100" id="filme3"/></a>
      </div>
      <div class="col-sm-4">
        <h2 id="titulo4">X-MEN Dias de Um Futuro Esquecido</h2>
        <a href="singleproduto">
        <img src="../imagens/xmen.jpg" class="w-100" id="filme4"/></a>
      </div>
      <div class="col-sm-4">
        <h2 id="titulo4">Homem de Ferro 3</h2>
        <a href="singleproduto">
        <img src="../imagens/ironman.jpg" class="w-100" id="filme5"/></a>
      </div>
      <div class="col-sm-4">
       <h2 id="titulo5">Capitã Marvel</h2>
       <a href="singleproduto">
        <img src="../imagens/captain.jpeg" class="w-100" id="filme6"/></a>
      </div>
      <div class="col-sm-4">
       <h2 id="titulo6">Homem-Formiga</h2>
       <a href="singleproduto">
        <img src="../imagens/formiga.jpeg" class="w-100" id="filme7"/></a>
      </div>
      <div class="col-sm-4">
       <h2 id="titulo7">Doutor estranho</h2>
       <a href="singleproduto">
        <img src="../imagens/estranho.jpg" class="w-100" id="filme8"/></a>
      </div>
    </div>
  </div>

  <section class="container"> 
      <hr>
    
    <article>
      <div class="row mt-5 mb-5">
        <div class="col-sm-4 text-center">
          <img src="../imagens/estranho.jpg" width="200">
        </div>
        <div class="col-sm-4 text-center">
          <img src="../imagens/capitao.jpeg" width="200">
        </div>
        <div class="col-sm-4 text-center">
          <img src="../imagens/logan.jpg" width="200">
        </div>
      </div>
    </article>

  </section>
<!-- =============== Fim do Conteúdo ================== -->
<!-- =============== FOOTER ================== -->
<%- include('footer.ejs')%>
<!-- =============== Fim FOOTER ================== -->
</body>

<script>
  id="tituloPrefer"
  id="imagemPrefer"
  id="trailerPrefer"
  id="sinopsePrefer"

  //IDENTIFICAÇÃO DO USUÁRIO 
let user = localStorage.emailUser
let bemVindo = document.querySelector("#bemVindo")
let entrar = document.querySelector("#entrar")
let sair = document.querySelector("#sair")
let cadastro = document.querySelector("#cadastro")

//SAUDAÇÃO
function msgUser() {
    let nomeUser = user.substring(0, user.indexOf('@'))
    bemVindo.innerHTML = 'Olá <b>' + nomeUser + '<b/>'
    entrar.style.display = "none"
    cadastro.style.display = "none"
}

//ESCONDE O BOTÃO ENTRAR
function resetUser() {
    sair.style.display = "none"
}
sair.onclick = function () {
    localStorage.removeItem("emailUser")
    location.href = 'index'
}
localStorage.emailUser ? msgUser() : resetUser()
  

 

</script>

</html>