<!--Topo-->
<div class="container-fluid; mt-5;">
    <div class="row align-items-center">
    <div class="col-sm-3"> <a target="" href="index">
      <img src="../imagens/primeirasessão.png" width="150"></a></div>
    <div class="col-sm-8" ><p style="font-size: 35px ;font-family: 'Righteous', cursive; padding: 20px;"><%=titulo%></p></div>
     <div class="col-sm-1">      
      <a id="entrar" href="login"><i class="material-icons" style="font-size: 68px;">login</i></a>
      </div>
  </div>
  </div>
 <!--Topo--> 